<div class="form-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="form-container">
          <h4>Add a new expense</h4>
          <%= simple_form_for @expense do |f| %>
            <%= f.input :type, collection: [ "Fixed", "Variable" ] %>
            <%= f.input :category, collection: [ "Transports", "Subscriptions", "Phone", "Savings", "Income taxes", "Home taxes", "Rent", "Insurance", "Courses", "Restaurants & Drinks", "Groceries", "Shopping & Holidays", "Health", "Withdraws", "Gifts" ] %>
            <%= f.input :amount %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
              </div>
            <%= f.input :comment %>
            <%= f.submit%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
